# Virtual environment
venv/
.env/
*.env
.venv-*

# Python cache files
__pycache__/
*.py[cod]
*.pyo
__pycache__

# Build artifacts
_build/
*.html
*.pdf
*.epub
*.zip

# Sphinx build files
/doctrees/
*.pickle
*.doctree

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

*.code-workspace

build/